// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

//@import "../node_modules/bootstrap/scss/bootstrap";
@import "../../libs/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
/*font-family: 'Lato', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/*font-family: 'Lato', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/*font-family: 'Source Sans Pro', sans-serif;*/


body
{
    background-color: #b9e2f8;
    font-size: 11px;
}


h6
{
    padding-top: 3px;
    padding-bottom: 3px;

    width: 100%;

    background-color: rgb(24, 24, 24);
    border-radius: 35px;
    font-size: 15px;
    border: 2px solid white;
}



.center
{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 30px;
    //background-color: yellow;
    border-radius: 35px;
    border: 3px solid white;
    min-width: 325px;
}



.center1
{
    padding: 10px;
    background-color: #fe9900;
}

.form-control
{
    border: 0px ;
    border-radius: 35px;
    font-size: 15px;
}

.form-control:focus
{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem #212529;
    box-shadow: 0 0 0 0.25rem #212529;
    font-size: 15px;
}

.form-check
{
    padding-top: 2px;
    padding-bottom: 2px;


    width: auto;

    color: white;
    //background-color: rgb(24, 24, 24);
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 5px;
}

.form-check-input
{
    border: 0px solid rgba(0, 0, 0, 0.25);
}

.form-check-input:focus 
{
    border-color: #86b7fe;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem white;
    box-shadow: 0 0 0 0.25rem white;
}
  
.form-check-input:checked
{
    background-color: #303036;
    border-color: #303036;
}


.btn-primary 
{
    color: #fff;
    background-color: #f19100;
    border-color: transparent;
    border-radius: 35px;
    font-size: 15px;
    width: 60%;
    border: 3px solid white;
}
  
.btn-primary:hover
{
    color: #303036;
    background-color: #b9e2f8;
    border-color: #303036;
}

.btn-check:focus + .btn-primary, .btn-primary:focus
{
    color: #303036;
    background-color: #b9e2f8;
    //border-color: #303036;
}

.btn-check:focus + .btn-primary, .btn-primary:focus
{
    color: #303036;
    background-color: #b9e2f8;
    border-color: #303036;
    -webkit-box-shadow: 0 0 0 0.0 rgba(49, 132, 253, 0.5);
    box-shadow: 0 0 0 0.0 rgba(49, 132, 253, 0.5);
}
  
.userLogo
{
    height: 150px;
}


.form-label
{
    color: #fff;
}

.col
{
    text-align: center;
}

.col-dir
{
    text-align: right; 
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    //display: flex;
    //padding-left: 2px;
    flex: 1;
    //background-color: yellow;
    padding-left: 4px;
    padding-right: 0;
    margin-right: 20px;
}

.col-esq
{
    text-align: right; 
    //padding-right: 2px;
    flex: 9;
    //background-color: yellowgreen;
    padding-left: 0;
    padding-right: 0;
}

.roundedlogo
{
    width: 25px;
}
