// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

//@import "../node_modules/bootstrap/scss/bootstrap";
@import "../../libs/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
/*font-family: 'Lato', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/*font-family: 'Lato', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/*font-family: 'Source Sans Pro', sans-serif;*/


body
{
    background-color: rgb(24, 24, 24);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
{
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar-collapse
{
    flex-grow: 0;
}

.logo
{
    width: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fe9900;
}

.navbar-brand
{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.50rem;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.bg-light
{
    background-color: #b9e2f8 !important;
}

//OWN-CLASSES--------------------------------------------------------------------------------
.divRound
{
    background-color: #fe9900;
    border-radius: 35px;
    -webkit-box-shadow: 0 0 0 0.25rem white;
    box-shadow: 0 0 0 0.25rem white;

    padding-top: 3%;
    
    min-width: 250px;
    min-height: 475px;
}

.h6-form
{
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: #303036;
    border-radius: 35px;
    -webkit-box-shadow: 0 0 0 0.15rem white;
    box-shadow: 0 0 0 0.15rem white;
    padding-left: 5%;
    padding-right: 5%;
}

.h6-info
{
    text-align: center;
    color: white;
}

.h6-titulo
{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #303036;
}

.h6-texto
{
    text-align: center;
    font-size: 13px;
    color: #303036;
}

.blu
{
    background-color: #b9e2f8;
    width: 60%;
    border-radius: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-shadow: 0 0 0 0.20rem #303036;
    box-shadow: 0 0 0 0.20rem #303036;
}

.carousel
{   
    position: relative;
    overflow: hidden;
    border-radius: 35px;
    //border-color: 3px solid #b9e2f8;
    -webkit-box-shadow: 0 0 0 0.25rem white;
    box-shadow: 0 0 0 0.25rem white; 
    max-width: 60%;
    min-width: 60%;
}

.carouselExampleFade
{
    text-align: center; 
}

.confiaClass
{
    height: 200px;
    border-radius: 15px;
}


.objCenter
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.display-5
{
    color: white;
}

.lead
{
    color: white;
    font-size: 18px;
}

.small-text
{
    font-size: 9px;
}



.bottas
{
    min-width: 240px;
    min-height: 350px;

    max-width: 1300px;
    max-height: 350px;

    background-color: #b9e2f8;
    border-radius: 5px;
    display:flex;
}


.character
{
    background-color: #303036;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    //margin-top: 50px;
    display:flex;
    //position:absolute;
}
//--------------------------------------------------------------------------------OWN-CLASSES

//PUPUP--------------------------------------------------------------------------------
//--------------------------------------------------------------------------------PUPUP
.modal-dialog
{
    
    color: #fe9900;
    border-radius: 35px;
}

.modal 
{
    background: rgba( 24, 24, 24, 0.10 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
}

.modal-content
{
    
    background-color: rgb(24, 24, 24);;
    border-radius: 35px;

}

.modal-body
{
    font-size: 14px;
}
//FORMULARIO--------------------------------------------------------------------------------
.form-control
{
    border-radius: 35px;
    border-color: 0px solid transparent !important;
    justify-content: center;
    width: 100%;
}

.form-control:focus
{
    color: #212529;
    background-color: #fff;
    border-color: 0px solid transparent !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.15rem #303036;
    box-shadow: 0 0 0 0.15rem #303036;
}
//--------------------------------------------------------------------------------FORMULARIO


//BOTOES--------------------------------------------------------------------------------
.btn-primary 
{
    color: #fff;
    background-color: #fe9900;
    border-color: transparent;
    border-radius: 35px;
    -webkit-box-shadow: 0 0 0 0.15rem white;
    box-shadow: 0 0 0 0.15rem white;
}
  
.btn-primary:hover
{
    color: #303036;
    background-color: #b9e2f8;
    border-color: #303036;
}

.btn-check:focus + .btn-primary, .btn-primary:focus
{
    color: #303036;
    background-color: #b9e2f8;
    border-color: #303036;
}

.btn-check:focus + .btn-primary, .btn-primary:focus
{
    color: #303036;
    background-color: #b9e2f8;
    border-color: #303036;
    -webkit-box-shadow: 0 0 0 0.0 rgba(49, 132, 253, 0.5);
    box-shadow: 0 0 0 0.0 rgba(49, 132, 253, 0.5);
}
//--------------------------------------------------------------------------------BOTOES

//COLUNAS--------------------------------------------------------------------------------
.col-3
{
    background-color: #303036 !important;
    border: transparent !important; 
    font-size: 14px;
    text-align: right;
    color: #fe9800;
    width: 25%;
}


.col-sm-9
{
    background-color: #303036 !important;
    border: transparent !important;
    font-size: 12px;
    text-align: left;
    color: #fe9800;
    gap: 0 !important;
    width: 75%;
}

.col
{
    text-align: center; 
    margin-left: 5px;
    margin-right: 5px;
}




.col-dir
{
    text-align: right; 
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    //display: flex;
    //padding-left: 2px;
    flex: 1;
    //background-color: yellow;
    padding-left: 5px;
    padding-right: 0;
    margin-right: 20px;
}

.col-esq
{
    text-align: right; 
    //padding-right: 2px;
    flex: 9;
    //background-color: yellowgreen;
    padding-left: 0;
    padding-right: 0;
}
//--------------------------------------------------------------------------------COLUNAS

.centerCenter
{
    display: flex;
    align-items: center;
    justify-content: center;
}


.roundedlogo
{
    width: 25px;
}





.div-h6
{
    text-align: center;
    background-color: #fe9800;
}

